/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
}

input,
label {
    display: block;
    width: 100%;
}

input:focus,
label:focus {
    outline: none;
}

a {
    color: blue;
}

body {
    padding-top: 5vh;
    background-image: url("../img/bg-register-page.jpg");
    background-size: cover;
    background-position-y: -150px;
}

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}